body {
    background-color: rgb(245, 224, 224);
    margin: 0px;
    padding: 0px;
}

#sidenav a {
    color: white;
    text-decoration: none;
    display: block;
    
}
#sidenav a:hover{
    background-color: rgb(255, 81, 0);
    font-style: italic;
    color: rgb(255, 255, 255);
}
#sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px;
    background-color: rgba(255, 123, 0, 0.719);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px ;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /* padding: 20px; padding the text instead of the box */
    line-height: 50px;
  }
#stealie {
    width: 90px;
    height: 90px;   
    position: absolute;
    bottom:20px;
    float: left;
    left: 20px;
}
/* .navfooter{
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    list-style-type: none;
    padding-bottom:5.5em;
    } */

.info {
    padding: 20px;
}
.main {

    height: 500px;
    /* background-color: rgb(255, 255, 255); */
    margin-left: 340px;
/* text-align: left; */
    padding: 0px 10px;
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 40px;
}